<br>

<table>
    <thead>
        <th>Имя лекции</th>
        <th>Имя подзадачи</th>
        <th>Ссылка на GitHub</th>
        <th>Ссылка на StackBlitz</th>
    </thead>

    <tbody *ngFor="let lesson of dataSource">
        <tr>
            <td [attr.rowspan]="lesson.subtasks.length">{{ lesson.lessonName }}</td>
            <td>{{ lesson.subtasks[0].subtaskName }}</td>
            <td>
                <a href="https://github.com/HunteRPVP/{{ lesson.subtasks[0].projectName }}">
                    <img src="../../assets/GitHub-Mark-32px.png">
                </a>
            </td>
            <td>
                <a href="https://stackblitz.com/github/HunteRPVP/{{ lesson.subtasks[0].projectName }}">
                    <mat-icon aria-hidden="false" aria-label="expand">launch</mat-icon>
                </a>
            </td>
        </tr>
        <ng-container *ngFor="let subtask of lesson.subtasks; let i=index">
            <tr *ngIf="i > 0">
                <td>
                    {{ subtask.subtaskName }}
                </td>
                <td>
                    <a href="https://github.com/HunteRPVP/{{ subtask.projectName }}">
                        <img src="../../assets/GitHub-Mark-32px.png">
                    </a>
                </td>
                <td>
                    <a href="https://stackblitz.com/github/HunteRPVP/{{ subtask.projectName }}">
                        <mat-icon aria-hidden="false" aria-label="expand">launch</mat-icon>
                    </a>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>