<br>
<p>Вы находитесь на главной странице! Воспользуйтесь кнопками вверху для перехода на разделы сайта.</p>

<h2>Отзыв о курсе и преподавателе</h2>
<p>Курс очень интенсивный, но и интересный. Преподаватель отличный, всегда готов помочь и объяснить. В рамках курса достаточно быстро разобрался с фреймворком, самостоятельно разбирался бы медленнее
    <br>
    Курс в целом очень понравился, только был бы он менее интенсивным и было бы идеально!
    <br>
    Курс считаю достаточно глубоким, не смотря на то, что многие вопросы оставались на самостоятельное изучение.
    <br>
    Задачи за рамками курса были, они помечались звездочкой(*).
    <br>
    Даже не знаю, что и посоветовать, возможно увеличить длительность курса, и сделать его менее интенсивным.
</p>