<p>Вы находитесь на главной странице! Воспользуйтесь кнопками вверху для перехода на разделы сайта.</p>

<h2>Отзыв о курсе и преподавателе</h2>
<p>Курс очень интенсивный, но и интересный. Преподаватель отличный, всегда готов помочь и объяснить. В рамках курса достаточно быстро разобрался с фреймворком, самостоятельно разбирался бы медленнее
    <br>
    Курс в целом очень понравился, только был бы он менее интенсивным и было бы идеально!
    <br>
    Курс считаю достаточно глубоким, не смотря на то, что многие вопросы оставались на самостоятельное изучение.
    <br>
    Задачи за рамками курса были, они помечались звездочкой(*).
    <br>
    Даже не знаю, что и посоветовать, возможно увеличить длительность курса, и сделать его менее интенсивным.
</p>

<h3><a href="https://metanit.com/web/angular2/1.1.php">Глава 1. Введение в Angular</a></h3>

<ul>
<li><a href="https://metanit.com/web/angular2/1.1.php">Что такое Angular. Первый проект</a></li>
<li><a href="https://metanit.com/web/angular2/1.4.php">Построение проекта</a></li>
<li><a href="https://metanit.com/web/angular2/1.2.php">Первое приложение</a></li>
<li><a href="https://metanit.com/web/angular2/1.3.php">Первое приложение на JavaScript</a></li>
</ul>

<h3><a href="https://metanit.com/web/angular2/2.1.php">Глава 2. Основы Angular</a></h3>
<ul>
<li><a href="https://metanit.com/web/angular2/2.1.php">Компоненты</a></li>
<li><a href="https://metanit.com/web/angular2/2.2.php">Модули</a></li>
<li><a href="https://metanit.com/web/angular2/2.3.php">Загрузка приложения</a></li>
<li><a href="https://metanit.com/web/angular2/2.4.php">Стили и шаблоны компонента</a></li>
<li><a href="https://metanit.com/web/angular2/2.5.php">Привязка данных</a></li>
<li><a href="https://metanit.com/web/angular2/2.6.php">Работа с компонентами</a></li>
<li><a href="https://metanit.com/web/angular2/2.7.php">Взаимодействие между компонентами</a></li>
<li><a href="https://metanit.com/web/angular2/2.10.php">Привязка к событиям дочернего компонента</a></li>
<li><a href="https://metanit.com/web/angular2/2.8.php">Жизненный цикл компонента</a></li>
<li><a href="https://metanit.com/web/angular2/2.9.php">Шаблонные переменные, ViewChild, ContentChild</a></li>
<li><a href="https://metanit.com/web/angular2/2.11.php">Взаимодействие между модулями</a></li>
</ul>

<h3><a href="https://metanit.com/web/angular2/3.1.php">Глава 3. Директивы</a></h3>
<ul>
<li><a href="https://metanit.com/web/angular2/3.1.php">ngClass и ngStyle</a></li>
<li><a href="https://metanit.com/web/angular2/3.2.php">Создание атрибутивных директив</a></li>
<li><a href="https://metanit.com/web/angular2/3.3.php">Взаимодействие с пользователем, HostListener и HostBinding</a></li>
<li><a href="https://metanit.com/web/angular2/3.4.php">Получение параметров в директивах</a></li>
<li><a href="https://metanit.com/web/angular2/3.5.php">Структурные директивы ngIf, ngFor, ngSwitch</a></li>
<li><a href="https://metanit.com/web/angular2/3.6.php">Создание структурных директив</a></li>
</ul>

<h3><a href="https://metanit.com/web/angular2/4.1.php">Глава 4. Сервисы и dependency injection</a></h3>
<ul>
<li><a href="https://metanit.com/web/angular2/4.1.php">Сервисы</a></li>
<li><a href="https://metanit.com/web/angular2/4.2.php">Внедрение сервиса в другой сервис</a></li>
<li><a href="https://metanit.com/web/angular2/4.4.php">Опциональные сервисы</a></li>
<li><a href="https://metanit.com/web/angular2/4.3.php">Один сервис для всех компонентов</a></li>
<li><a href="https://metanit.com/web/angular2/4.5.php">Иерархия сервисов</a></li>
</ul>

<h3><a href="https://metanit.com/web/angular2/5.1.php">Глава 5. Работа с формами</a></h3>
<ul>
<li><a href="https://metanit.com/web/angular2/5.2.php">Модуль FormsModule и директива NgModel</a></li>
<li><a href="https://metanit.com/web/angular2/5.3.php">Получение и изменение модели</a></li>
<li><a href="https://metanit.com/web/angular2/5.4.php">Состояние модели и валидация</a></li>
<li><a href="https://metanit.com/web/angular2/5.5.php">Директива NgForm</a></li>
<li><a href="https://metanit.com/web/angular2/5.6.php">Reactive Forms</a></li>
</ul>

<h3><a href="https://metanit.com/web/angular2/6.1.php">Глава 6. HTTP и взаимодействие с сервером</a></h3>
<ul>
<li><a href="https://metanit.com/web/angular2/6.1.php">HttpClient и отправка запросов</a></li>
<li><a href="https://metanit.com/web/angular2/6.2.php">Объект Observable и библиотека RxJS</a></li>
<li><a href="https://metanit.com/web/angular2/6.3.php">Обработка ошибок</a></li>
<li><a href="https://metanit.com/web/angular2/6.4.php">Отправка данных в запросе</a></li>
<li><a href="https://metanit.com/web/angular2/6.5.php">POST-запросы</a></li>
</ul>

<h3><a href="https://metanit.com/web/angular2/7.1.php">Глава 7. Маршрутизация</a></h3>
<ul>
<li><a href="https://metanit.com/web/angular2/7.1.php">Определение маршрутов</a></li>
<li><a href="https://metanit.com/web/angular2/7.2.php">Создание ссылок</a></li>
<li><a href="https://metanit.com/web/angular2/7.3.php">Параметры маршрута</a></li>
<li><a href="https://metanit.com/web/angular2/7.4.php">Параметры строки запроса</a></li>
<li><a href="https://metanit.com/web/angular2/7.5.php">Программная навигация</a></li>
<li><a href="https://metanit.com/web/angular2/7.7.php">Дочерние маршруты</a></li>
<li><a href="https://metanit.com/web/angular2/7.8.php">Guards</a></li>
</ul>
<h3><a href="https://metanit.com/web/angular2/8.1.php">Глава 8. Pipes</a></h3>
<ul>
<li><a href="https://metanit.com/web/angular2/8.1.php">Работа с pipes</a></li>
<li><a href="https://metanit.com/web/angular2/8.2.php">Создание своих pipes</a></li>
<li><a href="https://metanit.com/web/angular2/8.3.php">Pure и Impure Pipes</a></li>
<li><a href="https://metanit.com/web/angular2/8.4.php">AsyncPipe</a></li>
</ul>
<h3><a href="https://metanit.com/web/angular2/9.1.php">Глава 9. Дополнительные статьи</a></h3>
<ul>
<li><a href="https://metanit.com/web/angular2/9.1.php">Webpack</a></li>
<li><a href="https://metanit.com/web/angular2/9.2.php">Grid и CRUD-операции</a></li>
</ul>
