<ul>
  <li><mat-icon aria-hidden="false" aria-label="Example home icon" (click)="back()">arrow_back</mat-icon></li>
  <li><a [routerLink]="['/main']" routerLinkActive="router-link-active" >ГЛАВНАЯ</a></li>
  <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >ОБО МНЕ</a></li>
  <li><a [routerLink]="['/projects']" routerLinkActive="router-link-active" >МОИ ПРОЕКТЫ</a></li>
  <li><a [routerLink]="['/reclit']" routerLinkActive="router-link-active" >РЕК. ЛИТЕРАТУРА</a></li>
  <li><mat-icon aria-hidden="false" aria-label="Example home icon" (click)="forward()">arrow_forward</mat-icon></li>
</ul>
<router-outlet></router-outlet>