table {
    width: 100%;
}

.addIssue {
    margin-top: 20px;
    margin-left: 1%;
}

th {
    text-align: center;
}

th.mat-sort-header-sorted {
    color: black;
}

.user:hover {
    cursor: pointer;
}