<mat-tab-group mat-align-tabs="center">

  <mat-tab label="Глава 1. Введение в Angular">
    <ul>
      <li>
        <a href="https://metanit.com/web/angular2/1.1.php"
          >Что такое Angular. Первый проект</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/1.4.php"
          >Построение проекта</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/1.2.php">Первое приложение</a>
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/1.3.php"
          >Первое приложение на JavaScript</a
        >
      </li>
    </ul>
  </mat-tab>

  <mat-tab label="Глава 2. Основы Angular">
    <ul>
      <li><a href="https://metanit.com/web/angular2/2.1.php">Компоненты</a></li>
      <li><a href="https://metanit.com/web/angular2/2.2.php">Модули</a></li>
      <li>
        <a href="https://metanit.com/web/angular2/2.3.php"
          >Загрузка приложения</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/2.4.php"
          >Стили и шаблоны компонента</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/2.5.php">Привязка данных</a>
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/2.6.php"
          >Работа с компонентами</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/2.7.php"
          >Взаимодействие между компонентами</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/2.10.php"
          >Привязка к событиям дочернего компонента</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/2.8.php"
          >Жизненный цикл компонента</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/2.9.php"
          >Шаблонные переменные, ViewChild, ContentChild</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/2.11.php"
          >Взаимодействие между модулями</a
        >
      </li>
    </ul>
  </mat-tab>

  <mat-tab label="Глава 3. Директивы">
    <ul>
      <li>
        <a href="https://metanit.com/web/angular2/3.1.php">ngClass и ngStyle</a>
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/3.2.php"
          >Создание атрибутивных директив</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/3.3.php"
          >Взаимодействие с пользователем, HostListener и HostBinding</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/3.4.php"
          >Получение параметров в директивах</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/3.5.php"
          >Структурные директивы ngIf, ngFor, ngSwitch</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/3.6.php"
          >Создание структурных директив</a
        >
      </li>
    </ul>
  </mat-tab>

  <mat-tab label="Глава 4. Сервисы и dependency injection">
    <ul>
      <li><a href="https://metanit.com/web/angular2/4.1.php">Сервисы</a></li>
      <li>
        <a href="https://metanit.com/web/angular2/4.2.php"
          >Внедрение сервиса в другой сервис</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/4.4.php"
          >Опциональные сервисы</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/4.3.php"
          >Один сервис для всех компонентов</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/4.5.php">Иерархия сервисов</a>
      </li>
    </ul>
  </mat-tab>

  <mat-tab label="Глава 5. Работа с формами">
    <ul>
      <li>
        <a href="https://metanit.com/web/angular2/5.2.php"
          >Модуль FormsModule и директива NgModel</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/5.3.php"
          >Получение и изменение модели</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/5.4.php"
          >Состояние модели и валидация</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/5.5.php">Директива NgForm</a>
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/5.6.php">Reactive Forms</a>
      </li>
    </ul>
  </mat-tab>

  <mat-tab label="Глава 6. HTTP и взаимодействие с сервером">
    <ul>
      <li>
        <a href="https://metanit.com/web/angular2/6.1.php"
          >HttpClient и отправка запросов</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/6.2.php"
          >Объект Observable и библиотека RxJS</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/6.3.php">Обработка ошибок</a>
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/6.4.php"
          >Отправка данных в запросе</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/6.5.php">POST-запросы</a>
      </li>
    </ul>
  </mat-tab>

  <mat-tab label="Глава 7. Маршрутизация">
    <ul>
      <li>
        <a href="https://metanit.com/web/angular2/7.1.php"
          >Определение маршрутов</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/7.2.php">Создание ссылок</a>
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/7.3.php"
          >Параметры маршрута</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/7.4.php"
          >Параметры строки запроса</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/7.5.php"
          >Программная навигация</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/7.7.php">Дочерние маршруты</a>
      </li>
      <li><a href="https://metanit.com/web/angular2/7.8.php">Guards</a></li>
    </ul>
  </mat-tab>

  <mat-tab label="Глава 8. Pipes">
    <ul>
      <li>
        <a href="https://metanit.com/web/angular2/8.1.php">Работа с pipes</a>
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/8.2.php"
          >Создание своих pipes</a
        >
      </li>
      <li>
        <a href="https://metanit.com/web/angular2/8.3.php"
          >Pure и Impure Pipes</a
        >
      </li>
      <li><a href="https://metanit.com/web/angular2/8.4.php">AsyncPipe</a></li>
    </ul>
  </mat-tab>

  <mat-tab label="Глава 9. Дополнительные статьи">
    <ul>
      <li><a href="https://metanit.com/web/angular2/9.1.php">Webpack</a></li>
      <li>
        <a href="https://metanit.com/web/angular2/9.2.php"
          >Grid и CRUD-операции</a
        >
      </li>
      <li>
        <a href="https://blog.popstas.ru/blog/2020/04/15/npm-version/"
          >NPM version: версионирование, история изменений, деплой проекта</a
        >
      </li>
      <li>
        <a href="http://typescript-lang.ru/docs/Modules.html#%D0%98%D0%BC%D0%BF%D0%BE%D1%80%D1%82"
          >Импорты</a
        >
      </li>
      <li>
        <a href="https://xsltdev.ru/angular/tutorial/angular-cli/"
          >Angular CLI</a
        >
      </li>
      <li>
        <a href="https://xsltdev.ru/angular/tutorial/angular-templates/"
          >Шаблоны</a
        >
      </li>
      <li>
        <a href="https://xsltdev.ru/angular/tutorial/application-structure/"
          >Структура приложения</a
        >
      </li>
      <li>
        <a href="https://xsltdev.ru/angular/tutorial/component-lifecycle/"
          >Жизненный цикл компонента</a
        >
      </li>
      <li>
        <a href="http://coldfox.ru/article/5b28023900677f14ad353eec/%D0%94%D0%B8%D1%80%D0%B5%D0%BA%D1%82%D0%B8%D0%B2%D1%8B-%D0%B2-Angular"
          >Директивы в Angular</a
        >
      </li>
      <li>
        <a href="https://xsltdev.ru/angular/tutorial/angular-forms/"
          >Формы</a
        >
      </li>
      <li>
        <a href="https://xsltdev.ru/angular/tutorial/angular-reactive-forms/"
          >Реактивные формы</a
        >
      </li>
      <li>
        <a href="https://xsltdev.ru/angular/tutorial/forms-validation/"
          >Валидация форм</a
        >
      </li>
      <li>
        <a href="https://xsltdev.ru/angular/tutorial/angular-services/"
          >Сервисы</a
        >
      </li>
      <li>
        <a href="https://xsltdev.ru/angular/tutorial/dependency-injection/"
          >Dependency injection</a
        >
      </li>
      <li>
        <a href="https://stepansuvorov.com/blog/2017/10/%D0%9A%D0%B0%D0%BA-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%D0%B5%D1%82-%D0%BC%D0%B0%D1%80%D1%88%D1%80%D1%83%D1%82%D0%B8%D0%B7%D0%B0%D1%82%D0%BE%D1%80-angular/"
          >Как работает маршрутизатор Angular</a
        >
      </li>
    </ul>
  </mat-tab>

</mat-tab-group>
